body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(24,24,35,255);
    
}

header {

    background-color: #333;
    color: #fff;
    padding: 30px 40px;
    text-align: right;
    font-size: 30px;
}


nav a {
    color: white;
    padding: 10px;
    text-decoration: none;
}

label{

    display: flex;
    justify-content: center;
    
    margin: auto;
    width: 40%;
    padding: 10px;
    font-size: 50px;
    color: #fff;

}
section{

    display: flex;
    justify-content: center;
}

form{
    display: flex;
    flex-direction: column;
    background-color: #333;
    width: 1500px;
    border: 15px solid rgb(173, 168, 167);
    padding: 50px;
    margin: 100px;
    
}
input{
    width: 65%;
}

button{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 35%;
    padding: 10px;
    font-size: 50px;
}

h1{
   display: flex;
   justify-content: center;
   color: #fff;
   font-size: 60px;
    
}




