body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(24,24,35,255);

}

header {

    background-color: #333;
    color: #fff;
    padding: 30px 40px;
    text-align: right;
    font-size: 30px;
}


nav a {
    color: white;
    padding: 10px;
    text-decoration: none;
}

main{
    min-height: 100vh;
    padding: 85px 24px 96px;
    box-shadow: 0 0 12px -2px black;
    color: aliceblue;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    text-align: center;
}

main > div{
    position: relative;
    left: 25%;
    background-color: #333;
    width: 1500px;
    border: 15px solid rgb(173, 168, 167);
    padding: 50px;
    margin: 100px;
}
section > img{
    padding-left: 60% ;
    height: 300px;
    width: 600px;
}

.First-Project > h2{
    position: static;
}

.First-Project > p{
    position: static;
    right:18% ;
    
}

.Second-Project{
    position: relative;
    left: 25%;
    background-color: #333;
    width: 1500px;
    border: 15px solid rgb(173, 168, 167);
    padding: 50px;
    margin: 100px;
}

 

